@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 18px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ecf0f1;
    color: #2f3640;
    font-size: 1rem;
    letter-spacing: .5px;
}

@media screen and (max-width: 900px) {}

@media screen and (min-width: 901px) {}